---
// Redirect to root knowledge graph (language-neutral visualization)
---

<meta http-equiv="refresh" content="0;url=/graph" />
<link rel="canonical" href="/graph" />
<title>ナレッジグラフへリダイレクト中…</title>
<p>Redirecting to <a href="/graph">/graph</a>…</p>
